In [1]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print ("Labels:", labels)
print("My data:", my_data)
print("Dictionary:", d)
pd.Series(my_data, index=labels)

Labels: ['a', 'b', 'c']
My data: [10, 20, 30]
Dictionary: {'a': 10, 'b': 20, 'c': 30}

a    10
b    20
c    30
dtype: int64

In [2]:
pd.Series(my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [3]:
print ("\nHolding numerical data\n",'-'*25, sep='')
print(pd.Series(arr)[1])

Holding numerical data
-------------------------
20

In [4]:
print ("\nHolding text labels\n",'-'*20, sep='')
print(pd.Series(labels))

Holding text labels
--------------------
0    a
1    b
2    c
dtype: object

In [5]:

d = {'a':"kjhk",'b':20,'c':30}
d.items
pd.DataFrame(d,index = ['a','b','c'])

      a   b   c
a  kjhk  20  30
b  kjhk  20  30
c  kjhk  20  30

In [6]:
print ("\nHolding objects from a dictionary\n",'-'*40, sep='')
print(pd.Series([type, sum, max]))

Holding objects from a dictionary
----------------------------------------
0             <class 'type'>
1    <built-in function sum>
2    <built-in function max>
dtype: object

In [12]:
ser1 = pd.Series([1,2,3,4],index = [2,4,6,8])
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])
ser1

2    1
4    2
6    3
8    4
dtype: int64

In [13]:
print("\nIndexing by number (positional value in the series)\n",'-'*52, sep='')
print("Value for CA in ser1:", ser1[0])
print("Value for AZ in ser1:", ser1[3])
print("Value for NV in ser2:", ser2[2])

Indexing by number (positional value in the series)
----------------------------------------------------

KeyError: 0

In [11]:
print ("\nIndexing by a range\n",'-'*25, sep='')
print ("Value for OR, CO, and AZ in ser1:\n", ser1[0:3:2], sep='')

Indexing by a range
-------------------------
Value for OR, CO, and AZ in ser1:
2    1
6    3
dtype: int64

In [14]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'CA'])
ser2 = pd.Series([1,2,5,4],['CA', 'NV', 'AZ','OR'])
ser3 = ser1+ser2
ser3

AZ    NaN
CA    2.0
CA    5.0
CO    NaN
NV    NaN
OR    6.0
dtype: float64

In [15]:
print ("\nAfter adding the two series, the result looks like this...\n",'-'*59, sep='')
print(ser3)
print("\nPython tries to add values where it finds common index name, and puts NaN where indices are missing\n")

After adding the two series, the result looks like this...
-----------------------------------------------------------
AZ    NaN
CA    2.0
CA    5.0
CO    NaN
NV    NaN
OR    6.0
dtype: float64

Python tries to add values where it finds common index name, and puts NaN where indices are missing

In [16]:
print ("\nThe idea works even for multiplication...\n",'-'*43, sep='')
print (ser1*ser2)

The idea works even for multiplication...
-------------------------------------------
AZ    NaN
CA    1.0
CA    4.0
CO    NaN
NV    NaN
OR    8.0
dtype: float64

In [17]:
from numpy.random import randn as rn
#np.random.seed(101)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(matrix_data,row_labels,column_headings)
#print("\nThe data frame looks like\n",'-'*45, sep='')
df

          W         X         Y         Z
A -0.291470 -0.563681 -0.586939  0.255358
B  0.402487 -0.251059 -0.748020 -1.254002
C  0.851122  0.045675  0.495345 -0.584319
D -0.591935  0.256982  0.065812 -0.467080
E  0.548485 -0.853854 -2.004221  0.584936

In [19]:
df.iloc[2,3]

-0.5843190674878973

In [20]:
print("\nType of the pair of columns: ", type(df[['X','Z']]), sep='')
print ("\nSo, for more than one column, the object turns into a DataFrame")

Type of the pair of columns: <class 'pandas.core.frame.DataFrame'>

So, for more than one column, the object turns into a DataFrame

In [21]:
print("\nThe 'X' column accessed by DOT method (NOT recommended)\n",'-'*55, sep='')
print(df["X"])

The 'X' column accessed by DOT method (NOT recommended)
-------------------------------------------------------
A   -0.563681
B   -0.251059
C    0.045675
D    0.256982
E   -0.853854
Name: X, dtype: float64

In [24]:
print("\nA column is created by assigning it in relation to an existing column\n",'-'*75, sep='')
df['New'] = df['X']+df['Z']
df['New (Sum of X and Z)'] = df['X']+df['Z']
print(df)

A column is created by assigning it in relation to an existing column
---------------------------------------------------------------------------
          W         X         Y         Z       New  New (Sum of X and Z)  \
A -0.291470 -0.563681 -0.586939  0.255358 -0.308323             -0.308323
B  0.402487 -0.251059 -0.748020 -1.254002 -1.505061             -1.505061
C  0.851122  0.045675  0.495345 -0.584319 -0.538644             -0.538644
D -0.591935  0.256982  0.065812 -0.467080 -0.210098             -0.210098
E  0.548485 -0.853854 -2.004221  0.584936 -0.268917             -0.268917

       New (Sum of X and Z)
A                 -0.308323
B                 -1.505061
C                 -0.538644
D                 -0.210098
E                 -0.268917

In [25]:
print("\nA column is dropped by using df.drop() method\n",'-'*55, sep=' ')
df.drop("C",inplace=True) # Notice the axis=1 option, axis = 0 is default, so one has to change it to 1

A column is dropped by using df.drop() method
 -------------------------------------------------------

In [26]:
print("\nLabel-based 'loc' method can be used for selecting row(s)\n",'-'*60, sep='')
print("\nSingle row\n")
print(df.iloc[3])

Label-based 'loc' method can be used for selecting row(s)
------------------------------------------------------------

Single row

W                           0.548485
X                          -0.853854
Y                          -2.004221
Z                           0.584936
New                        -0.268917
New (Sum of X and Z)       -0.268917
    New (Sum of X and Z)   -0.268917
Name: E, dtype: float64

In [27]:
print("\nMultiple rows\n")
print(df.loc[['B','C']])

Multiple rows

          W         X        Y         Z       New  New (Sum of X and Z)  \
B  0.402487 -0.251059 -0.74802 -1.254002 -1.505061             -1.505061
C       NaN       NaN      NaN       NaN       NaN                   NaN

       New (Sum of X and Z)
B                 -1.505061
C                       NaN

C:\Users\zeesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [28]:
print("\nIndex position based 'iloc' method can be used for selecting row(s)\n",'-'*70, sep='')
print("\nSingle row\n")
print(df.iloc[2])

Index position based 'iloc' method can be used for selecting row(s)
----------------------------------------------------------------------

Single row

W                          -0.591935
X                           0.256982
Y                           0.065812
Z                          -0.467080
New                        -0.210098
New (Sum of X and Z)       -0.210098
    New (Sum of X and Z)   -0.210098
Name: D, dtype: float64

In [29]:
print("\nMultiple rows\n")
print(df.iloc[[1,2]])

Multiple rows

          W         X         Y         Z       New  New (Sum of X and Z)  \
B  0.402487 -0.251059 -0.748020 -1.254002 -1.505061             -1.505061
D -0.591935  0.256982  0.065812 -0.467080 -0.210098             -0.210098

       New (Sum of X and Z)
B                 -1.505061
D                 -0.210098

In [30]:
# Subsetting DataFrame

In [31]:

matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

In [32]:
df

          W         X         Y         Z
A -0.014495 -0.099983 -0.634249 -0.665418
B -0.163993 -0.486675  0.884353 -0.656078
C -1.559836 -0.457007 -0.346768  1.229206
D -0.167008 -0.464101 -1.124778  1.291067
E -0.577201  0.517864 -0.702831 -0.254686

In [34]:
print("\nElement at row 'B' and column 'Y' is\n") 
print(df.loc[['B','C'],['Y','W']])

Element at row 'B' and column 'Y' is

          Y         W
B  0.884353 -0.163993
C -0.346768 -1.559836

In [36]:
print("\nSubset comprising of rows B and D, and columns W and X, is\n")
df.iloc[[1,2,3],[0,1]]

Subset comprising of rows B and D, and columns W and X, is

          W         X
B -0.163993 -0.486675
C -1.559836 -0.457007
D -0.167008 -0.464101

In [37]:
print(df.loc[['B','C'],])

          W         X         Y         Z
B -0.163993 -0.486675  0.884353 -0.656078
C -1.559836 -0.457007 -0.346768  1.229206

In [39]:
print("\nThe DataFrame\n",'-'*45, sep='')
print(df)

The DataFrame
---------------------------------------------
          W         X         Y         Z
A -0.014495 -0.099983 -0.634249 -0.665418
B -0.163993 -0.486675  0.884353 -0.656078
C -1.559836 -0.457007 -0.346768  1.229206
D -0.167008 -0.464101 -1.124778  1.291067
E -0.577201  0.517864 -0.702831 -0.254686

In [40]:
print("\nBoolean DataFrame(s) where we are checking if the values are greater than 0\n",'-'*75, sep='')
print(df>0)

Boolean DataFrame(s) where we are checking if the values are greater than 0
---------------------------------------------------------------------------
       W      X      Y      Z
A  False  False  False  False
B  False  False   True  False
C  False  False  False   True
D  False  False  False   True
E  False   True  False  False

In [42]:

print(df.loc[['A','B','C']]>0)

       W      X      Y      Z
A  False  False  False  False
B  False  False   True  False
C  False  False  False   True

In [43]:
booldf = df>0
print("\nDataFrame indexed by boolean dataframe\n",'-'*45, sep='')
print(df[booldf])

DataFrame indexed by boolean dataframe
---------------------------------------------
    W         X         Y         Z
A NaN       NaN       NaN       NaN
B NaN       NaN  0.884353       NaN
C NaN       NaN       NaN  1.229206
D NaN       NaN       NaN  1.291067
E NaN  0.517864       NaN       NaN

       W      X      Y      Z
A  False  False  False  False
B  False  False   True  False
C  False  False  False   True
D  False  False  False   True
E  False   True  False  False